*{
	box-sizing: border-box;
}
img{
	max-width:  100%;
}
main{
	width: 100%;
	max-width: 1308px;
	padding: 60px 24px;
	padding-bottom: 0px;
	margin: 0 auto;
}
.MainSlider-header{
	display: flex;
	justify-content: space-between;
}
.MainSlider-header_NavigationBar{
	display: flex;
	justify-content: space-between;
}
.MainSlider-header_NavigationBar_Navigationlist{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
.MainSlider-header_NavigationBar_BurgerMenu{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.BurgerMenuBar{
	
	height: 2px;
	width: 20px;
	background-color: #000000;
}
.NavigationBar_Item{
	margin-left: 40px;
}
.NavigationBar_Item a{

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
letter-spacing: 0.11em;
text-transform: uppercase;
color: rgba(0, 0, 0, 0.68);
text-decoration: none;
}
.MainSlider-header_IconsList{
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}
.Icons_Item{
	margin-left: 15px;
}
.MainSlider-Images{
	z-index: -1;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50%;
}
.MainSlider_Image{
	position: relative;
}
.MainSlider_BackImage{
	left: -45px;
	top: 166px;
	z-index: -2;
	position: absolute;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__BrandName{
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
}
.header__Title{
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	line-height: 82px;
}
.header__Arrows{
	width: 132px;
	display: flex ;
	flex-direction: column;
}
.arrowPreviosLink{
	margin-top: 15px;
	width: 100%;
}
.arrowPrevios{
	position: relative;
	height: 2px;
	width: 100%;
	background: #000000;
	display: flex;
	
}
.arrowPrevios:before,
.arrowPrevios:after{
	content: '';
	display: flex;
	width: 10px;
	height: 2px;
	background-color: #000000;
	border-radius: 4px;
	position: absolute;
	left: 0;
	top: -4px;
	transform: rotate(-45deg);
}
.arrowPrevios:after{
	top: 4px;
	transform: rotate(45deg);
}
.arrowNextLink{
	margin-top: 30px;
	width: 100%;
}
.arrowNext{
	position: relative;
	height: 2px;
	width: 100%;
	background: #000000;
	display: flex;
	
}
.arrowNext:before,
.arrowNext:after{
	content: '';
	display: flex;
	width: 10px;
	height: 2px;
	background-color: #000000;
	border-radius: 4px;
	position: absolute;
	right: 0;
	top: -4px;
	transform: rotate(45deg);
}
.arrowNext:after{
	top: 4px;
	transform: rotate(-45deg);
}
.MainSlider-wrapper{
	width: 50%;
	margin-top: 225px;
	display: flex;
	flex-direction: column;

}
.MainSlider_Title{
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 120px;
	line-height: 82.2%;
}
.MainSlider_Text{
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.MainSlider_Text_text{
	font-family: Antic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	ine-height: 24px;
	text-transform: uppercase;
}
.MainSlider_Text_underline{
	width: 204px;
	margin-top: 8px;
	height: 1px;
	background-color: #000000;
}
.MainSlider_Footer{
	margin-top: 284px;
	width: 445px;
	display: flex;
	justify-content: space-between;
}
.MainSlider_Footer_list{
	display: flex;
	justify-content: start;
	list-style: none;
	margin: 0;
	padding: 0;
}
.MainSlider_Footer-Item{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
}
.MainSlider_Footer-Item__nonactive{
	
	text-decoration: none;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: rgba(0, 0, 0, 0.5);
}
.MainSlider_Footer-Item__active{
	
	background-color: #000000;
	color: #F4F4F4;
	text-decoration: none;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
}
.MainSlider_Footer_Text-TopText{
	font-family: Rubik;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
}
.MainSlider_Footer_Text{
	display: flex;
	flex-direction: column;
	align-items: flex-end
}
.MainSlider_Footer_Text-BotText{
	font-family: Rubik;
	font-style: normal;
	
	font-size: 18px;
	line-height: 21px;
}
.services-container{

	margin-top: 181px;
}
.servises-wrapper{
	position: relative;
	margin-top: 26px;
	display: flex;
	flex-direction: column;
	
}
.servises__FirstBlock{
	margin-top: 66px;
	margin-left: 50px;
	display: flex;
	justify-content: space-between;
	
	height: 385px;
	background: #090F11;
}
.servises__FirstBlock-contentWrapper{
	margin-top: 50px;
	display: flex;
	justify-content:start;
	width: 100%;
	height: 100%;
	
	
}
.services__FirstBlock-image{
	width: 100%;
	height: 100%;
	position: relative;
	left: -50px;
	top: -30px;
	display: flex;
}
.servises__SecondBlock{
	margin-top: 66px;
	margin-right: 56px;
	display: flex;
	justify-content: space-between;
	
	height: 385px;
	background: #090F11;
}
.servises__SecondBlock-contentWrapper{
	margin-left: 80px;
	margin-top: 50px;
	display: flex;
	justify-content:start;
	width: 100%;
	height: 100%;
	
	
}
.services__SecondBlock-image{
	width: 100%;
	height: 100%;
	position: relative;
	left: 56px;
	top: -30px;
	display: flex;
}
.servises__title{

	display: flex;
	flex-direction: column;
}
.servises__title-text{
	margin-right: 30px;
	margin-bottom: 83px;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 57px;
	color: #FFFFFF;
}
.servises__text{
	margin-top: 15px;
	margin-right: 115px;
	max-width: 295px;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 143%;
	color: rgba(255, 255, 255, 0.7);

}
.porfolio-container{
	margin-top: 181px;
}
.portfolio-wrapper{
	margin-top: 64px;
	display: flex;
	justify-content: space-between;
}
.portfolio__images-wrapper{
	width: calc(50% - 22.5px);
}
.porfolio__images-list{
	list-style: none;
	margin: 0;
	padding: 0;
}
.porfolio__image-element{
	display: flex;
}
.porfolio__image-element:not(:last-child){
	margin-bottom: 45px;
}
.portfolio__content-container{
	position: relative;
	width: calc(50% - 22.5px);
}
/*.portfolio__content-container:before{
	content: '';
	display: flex;
	width: 106%;
	height: 94.5%;
	background: #090F11;
	position: absolute;
	top: 106px;
	right: 54px;
	z-index: -1;
}*/
.portfolio__content-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 45px 108px;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.8);
}
.portfolio__title{
	font-size: 40px;
	line-height: 47px;
	color: #FFFFFF;
	margin-bottom: 13px;
}
.portfolio__text{
	font-size: 20px;
	line-height: 28px;
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 162px;
}
.portfolio__link{
	width: max-content;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	text-decoration: none;
}
.arrow{
	position: relative;
	display: flex;
	width: 180%;
	height: 2px;
	background-color: #ffffff;
	margin-top: 15px;
	justify-content: flex-end;
}
.arrow:before,
.arrow:after{
	content: '';
	display: flex;
	width: 10px;
	height: 2px;
	background-color: #ffffff;
	border-radius: 4px;
	position: absolute;
	right: 0;
	top: -4px;
	transform: rotate(45deg);
}
.arrow:after{
	top: 4px;
	transform: rotate(-45deg);
}
.portfolio__content-background{
	display: flex;
	width: 106%;
	height: 94.5%;
	background: #090F11;
	position: absolute;
	top: 106px;
	right: 54px;
	z-index: -1;
}
.team-container{
	margin-top: 181px;
}
.team-wrapper{
	margin-top: 90px;
	display: flex;
	justify-content: space-between;
	
}
.team-worker{
	
	width: 23%;
	display: flex;
	flex-direction: column;

}
.team-worker_Image{
	display: flex;
}
.team-worker_Name{
	margin-top: 25px;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
}
.team-worker_Info, .team-worker_Phone{
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
}
.team-worker_Phone{
	margin-top: 15px;
}
.reviews-container{
	margin-top: 181px;
}
.reviews-wrapper{
	height: 408px;
	position: relative;
	margin-top: 94px;
	display: flex;
	
	background-color: #090F11;

}
.reviews-image{
	width: 30%;
    position: absolute;
    top: -45px;
    right: -5px;
}
.reviews-tittle{
	max-width: 90px;
	margin-top: 81px;
	margin-left: 137px;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 47px;
	color: #FFFFFF;
}
.reviews-text{
	max-width: 432px;
	margin-top: 81px;
	margin-left: 85px;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 136%;
	color: rgba(255, 255, 255, 0.68);

}
.ContactUs-container{
	margin-top: 270px;
	display: flex;
	justify-content: space-between;
}
.ContactUs__content-container{
	width: 40%;
	display: flex;
	flex-direction: column;
}
.ContactUs__Title{
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	line-height: 82px;
	color: #00000E;
}
.ContactUs__FormList{
	margin-top: 90px;
	list-style: none;
}
.ContactUs__FormList-Item{
	ont-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
}
.ContactUs__images-wrapper{
	width: 45%;
	position: relative;
}
.ContactUs__Image-Map{
	position: absolute;
	top: -59px;
	right: 0px;
}
.ContactUs__BackgroundImage{
	width: 100%;
	height: 100%;
	background-color: #000000;
	z-index: -1;
	position: absolute;
	top: 0px;
	right: 59px;
}
.ContactUs__Form{
	margin-left: 0px;
	padding: 0px;
	margin-top: 90px;
	border: none;
	display: flex;
	flex-direction: column;
}
.ContactUs__Form-Element{
	margin-bottom: 34px;
	border-width: 1px;
	border-color:rgba(9, 15, 17, 0.5) ;
	
	border-top: none;
	border-right: none;
	border-left: none;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}
.ContactUs__Label{
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
}
.ContactUs__MessageForm{
	margin-bottom: 0px;
	margin-top: 12px;
	border-width: 1px;
    border-style: inset;
    border-color: rgba(9, 15, 17, 0.5);
    border-image: initial;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	width: 495px;
	height: 166px;
}
.ContactUs__SendLink{

	margin-top: 18px;
	width: 100px;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
}
.blackColorArrow{
	background-color: #000000;
}
.blackColorArrow:before,
.blackColorArrow:after{
	background-color: #000000;
}
.Footer-container{
	
	display: flex;
	justify-content: space-between;
	margin-top: 217px;
	height: 288px;
	width: auto;
}
.Fotter-background{
	z-index: -1;
	position: absolute;
	left: 0px;
	width: 100%;
	background-color: #090F11;
	height: 288px;
}
.Footer-Text{
	display: flex;
	flex-direction: column;
	margin-top: 80px;
}
.Footer-Text__Title{
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 105.2%;
	color: #FFFFFF;
}
.Footer-Text__Text{
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 27px;
	color: #FFFFFF;
}
.Footer-Form{
	margin-top: 80px;
	display: flex;
	flex-direction: column;
}
.Footer-Form__Email{
	width: 276px;
	height: 46px;
	border-width: 1px;
	background-color: #090F11 ;
	border-color: #FFFFFF;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 105.2%;
	color: rgba(255, 255, 255, 0.43);
}
.Footer__SendLink{
	margin-top: 32px;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}
.Footer__arrow{
	width: 50%;
}
.Fotter-InfoBlock{
	display: flex;
	flex-direction: column;
}
.Fotter-NavigationBar_Navigationlist{
	display: flex;
	flex-direction: column;
}
.Fotter-InfoBlock{
	margin-top: 80px;
	width: 170px;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;

	color: #FFFFFF;
}
.Fotter-InfoBlock__AdressSecondBlock{
	margin-top: 15px;
}
.Fotter-NavigationBar_Navigationlist{
	margin-top: 80px;
	
	list-style: none;
}
.FotterBar__Item{
	margin-bottom: 7px;
}
.FotterBar__Item a{
	
	font-family: Antic;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */
	color: rgba(255, 255, 255, 0.85);
	text-decoration: none;

}
